.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* vc= Vanilla Css */
/* container */
.vc-container{
  width: 90% !important;
  margin: 0 auto !important;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

/* bg-color */
.vc-bg1{
  background: #e73e3a !important;
}
.vc-bg2{
  background: #333 !important;
}
/* text-color */
.vc-text1{
  color: #e73e3a !important;
}
.vc-text2{
  color: #333 !important;
}